{% extends 'base.html' %}
{% block content %}
<div id="content-container">
    <!--
        <div class="">
            <h3 class="h1 text-center mb-5" style="font-weight: bold;
        text-decoration: underline;">Scraper</h3>
        </div>
    -->
    <!-- form -->
    <div class="container text-center">
        <!-- Formulario de búsqueda manual (GET) -->
        <form action="{{ url_for('home.scraper') }}" method="GET" class="mb-4">
            <div class="row">
                <div class="col">
                    <label for="exampleFormControlInput1" class="form-label">Ingresá el artículo a buscar:</label>
                    <input type="text" class="form-control" name="q" id="exampleFormControlInput1"
                        placeholder="Ej: celular motorola" value="{{ search }}">
                </div>
                <div class="col mt-2">
                    <button type="submit" class="btn btn-primary rounded-4 w-50 mt-4">Buscar</button>
                </div>
            </div>
        </form>

        <!-- Formulario de carga de archivos (POST) -->
        <form id="importForm" action="{{ url_for('home.process_excel') }}" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col">
                    <label for="excel" class="form-label">Para búsqueda masiva importar Excel/CSV:</label>
                    <input type="file" class="form-control" id="excel" name="excel"
                        accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                </div>
                <div class="col mt-2">
                    <button type="submit" id="importButton"
                        class="btn btn-success rounded-4 w-50 mt-4">Importar</button>

                </div>
            </div>
            <!-- Seleccionamos los sellers a scrapear -->
            <div class="sellers">
                <div class="sellers-title">Selecciona los sellers a Scrapear</div>
                <div class="sellers-selects">
                    <input type="radio" name="mercadolibre" id="mercadolibre"><span>Mercado libre</span>
                    <input type="radio" name="fravega" id="fravega"><span>Fravega</span>
                    <input type="radio" name="oscarbarbieri" id="oscarbarbieri"><span>Oscar Barbieri</span>
                    <input type="radio" name="castillo" id="castillo"><span>Castillo</span>
                    <input type="radio" name="oncity" id="oncity"><span>On City</span>
                </div>
                <!--Cerramos los sellers-->
        </form>
    </div>

    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% elif info_masiva %}
    <table class="table table-hover table-bordered rounded" style="width: 100%; margin-top: 2rem;">
        <thead>
            <tr>
                <th>Nombre del artículo</th>
                <th>ID Fabricante</th>
                <th>Costo actual</th>
                <th>Utilidad</th>
                <th>PVP Nuestro</th>
                <th>Plan de Cuotas</th>
                <th>Precio Tachado</th>
                <th>Off</th>
                <th>PVP</th>
                <th>Diferencia %</th>
                <th>Diferencia $</th>
                <th>Envío</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(info_masiva['id_fabricante']|length) %}
            <tr>
                <td>{{ info_masiva['nombre_articulo'][i] }}</td>
                <td>{{ info_masiva['id_fabricante'][i] }}</td>
                <td>{{ info_masiva['costo_actual'][i] }}</td>
                <td>{{ info_masiva['utilidad'][i] }}</td>
                <td>{{ info_masiva['pvp_nuestro'][i] }}</td>
                <td class="plan-cuotas">
                    {{ info_masiva['plan_cuotas'][i]|first|replace('|||', '') }}
                </td>
                <td>{{ info_masiva['precio_tachado'][i] }}</td>
                <td class="off-col">{{ info_masiva['off'][i] }} %</td>
                <td>{{ info_masiva['pvp'][i] }}</td>
                <td>-</td>
                <td class="diferencia">
                    $ {{
                    (info_masiva['pvp_nuestro'][i]|replace('$', '')|replace('.', '')|replace(',', '.')|float -
                    info_masiva['pvp'][i]|replace('$', '')|replace('.', '')|replace(',', '.')|float)
                    | round(2)
                    }}
                </td>

                <td class="envio-col">
                    {{ info_masiva['envio'][i]|first|replace('||', '') }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
    <h3 class="mt-4">No hay resultados para mostrar.</h3>
    {% endif %}

</div>

{% endblock %}